{
    "development": {
        "config_id": "development",
        "app_name": "outfitter",
        "database": "outfitter-dev",
        "database_host": "localhost",
        "database_user": "",
        "databse_pw": ""
    }
}