// Created using this tutorial https://www.freecodecamp.org/news/learn-webpack-for-react-a36d4cac5060/
{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}